<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap desktop rescap mp">

	<Identity
	  Name="HaydenP.CopyGIF"
	  Publisher="CN=507D483D-4B01-4556-A7D9-819E20FC29D5"
	  Version="2.0.1.0" />

	<mp:PhoneIdentity
	  PhoneProductId="36702c4b-e149-49f7-bd62-e29d5a7f7529"
	  PhonePublisherId="00000000-0000-0000-0000-000000000000" />

	<Properties>
		<DisplayName>CopyGIF</DisplayName>
		<PublisherDisplayName>Hayden P</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Resources>
		<Resource Language="x-generate" />
	</Resources>

	<Dependencies>
		<TargetDeviceFamily
		  Name="Windows.Desktop"
		  MinVersion="10.0.17763.0"
		  MaxVersionTested="10.0.26200.0" />
	</Dependencies>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

	<Applications>
		<Application
		  Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">

			<uap:VisualElements
			  DisplayName="CopyGIF"
			  Description="CopyGIF"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">

				<uap:DefaultTile
				  Wide310x150Logo="Assets\Wide310x150Logo.png" />

				<uap:SplashScreen
				  Image="Assets\SplashScreen.png" />

			</uap:VisualElements>

			<Extensions>
				<desktop:Extension
				  Category="windows.startupTask"
				  Executable="CopyGIF.exe"
				  EntryPoint="Windows.FullTrustApplication">
					<desktop:StartupTask
					  TaskId="CopyGIFStartup"
					  Enabled="false"
					  DisplayName="CopyGIF" />
				</desktop:Extension>
			</Extensions>

		</Application>
	</Applications>

</Package>